body{
    background-color: green;
}
*{
    margin:5px;
}

.gridwrapper{
    display:grid;
    width:100vw;
    height:100vh;
    background-color:green;
    grid-gap:10px;

    grid-template-areas:
    "he he he he he he"
    "na na na na na na"
    "a1 a2 a3 a4 a5 as"
    "se se se se se as"
    "a6 a6 a7 a7 a7 as"
    "fo fo fo fo fo fo"
    ;

    grid-template-rows: (6, 6fr);

}

.header{
    grid-area:he;
    background-color:blue;
}

.nav{
    grid-area:na;
    background-color:pink;
}

.article1{
    grid-area:a1;
    background-color: red;
}

.article2{
    grid-area:a2;
    background-color: red;
}

.article3{
    grid-area:a3;
    background-color: red;
}

.article4{
    grid-area:a4;
    background-color: red;
}

.article5{
    grid-area:a5;
    background-color: red;
}

.section{
    grid-area:se;
    background-color:purple;
}

.article6{
    grid-area:a6;
    background-color:black;
}

.article7{
    grid-area:a7;
    background-color:black;
}

.footer{
    grid-area:fo;
    background-color:blue;
}

.aside{
    grid-area:as;
    background-color:lightblue;
}
