* {
    margin:0;
}

.gridwrapper{
display:grid;
width:100vw;
height:100vh;
background-color: lightgreen;
grid-gap:20px;

grid-template-areas:
"he he he"
"a1 a2 a3"
"a4 a4 as"
"a4 a4 as"
"a5 a5 as"
"fo fo fo"

;

grid-template-rows: (3, 2fr);
grid-template-rows: (6, 2fr);

}

.header{
    grid-area:he;
    background-color: lightblue;
    opacity:90%

}

.article1{
    grid-area:a1;
    background-color:pink;
    opacity: 90%;
    
}

.article2{
    grid-area:a2;
    background-color:pink;
    opacity:90%;

}

.article3{
    grid-area:a3;
    background-color:pink;
    opacity: 90%;
}

.article4{
    grid-area:a4;
    background-color:pink;
    opacity: 90%;

}

.article5{
    grid-area:a5;
    background-color:pink;
    opacity:90%;

}

.aside1{
    grid-area:as;
    background-color:yellow;
    opacity:90;
}

.footer{
    grid-area:fo;
    background-color:purple;
    opacity:90%;
}
/* din bild såg ut att ha någon typ av oppacity
innuti boxarna så att kanterna har lite starkare färg.
Vet isåfall inte riktigt hur man gör det, utan jag la en
oppacity på de olika delarna för att få det så likt som möjligt!*/


